<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Здесь будет главная страница</h1>
    <ul>
        <li><a href="/about"> О проекте </a></li>
        <li><a href="/categories"> Категории </a></li>
        <li><a href="/vacancies"> Вакансии </a></li>
    </ul>>
</body>
</html>