<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Джуманжи вакансии</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <header>
    <nav>menu</nav>
  </header>

  <div class="container">
    <div class="content">
     <h2>Вакансии</h2>
     <div class="vacancies">
        (list of vacancies)
     </div>
    </div>
  </div>

  <footer>
    site footer
  </footer>
</body>
</html>